<div mk-dropdown class="btn-group">
  <mk-dropdown-toggle>
      <span translate="options"></span><span class="caret"></span>
  </mk-dropdown-toggle>
  <mk-dropdown-menu>
    <li role="presentation"><a role="menuitem" tabindex="-1" [routerLink]="'/app/ous/create'" translate="add_ou"></a></li>
    <li role="presentation" class="{{ogCommonService.getSelectionSize() == 0?'disable-links':''}}">
      <a role="menuitem" tabindex="-1" href="javascript:void(0)" (click)="moveClientsToOu()">
        <span *ngIf="!ogCommonService.isMovingClients()" translate="move_clients_to_ou"></span>
        <span *ngIf="ogCommonService.isMovingClients()" translate="cancel_move_clients_to_ou"></span>
      </a>
    </li>
    <li role="presentation" class="delete-option" class="{{ogCommonService.getSelectionSize() == 0?'disable-links':''}}">
      <a role="menuitem" tabindex="-1" href="javascript:void(0)" (click)="deleteSelectedClients()" translate="delete_selected_clients"></a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="{{ogCommonService.getSelectionSize() == 0?'disable-links':''}}">
      <a role="menuitem" tabindex="-1" [routerLink]="'/app/netboots/clients'" translate="netboot" ></a>
    </li>
    <!--
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="clients_status"></a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="procedures"></a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="actions_queue"></a></li>
  -->
  </mk-dropdown-menu>
</div>
