<section class="content-header">
  <h1 translate="hardware">
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="'/app/dashboard'"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a [routerLink]="'/app/hardware'"><i class="fa  fa-server"></i> {{'hardware'|translate}}</a></li>
    <li class="active" translate="hardware_component"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
  <div>
    <div class="col-md-12">
      <div class="box-tools pull-right">
        <button class="btn btn-primary" translate="save" ng-click="vm.save(Form)"></button>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 ng-if="!vm.hardwareComponent.id" class="box-title" translate="new_hardware_component"></h3>
          <h3 ng-if="vm.hardwareComponent.id" class="box-title" translate="hardware_component"></h3>
        </div>
        <div class="box-body">
          <form role="form" gbn-auto-form name="Form" form-options="vm.formOptions" form-model="vm.hardwareComponent">

          </form>
        </div>
      </div>
    </div>

  </div>
</section>
