<ui-view>
	<section class="content-header">
	  <h1 translate="ous">
	  </h1>
	  <ol class="breadcrumb">
	    <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
	    <li class="active" translate="ous"></li>
	  </ol>
	</section>
	<section fixed-toolboxbar class="toolboxbar">
		<div >
			<div class="col-md-12">
				<div class="input-group">
			      <input type="text" name="q" class="form-control" placeholder="{{'search'|translate}}..." ng-model="vm.searchText">
			          <span class="input-group-btn">
			            <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
			            </button>
			          </span>
			    </div>
			</div>
			<div class="col-md-12" style="margin-top: 5px;margin-bottom: 5px;">
					<span translate="display"></span>
					<div class="btn-group">
						<button type="button" class="btn btn-default" ng-class="{'btn-primary': user.preferences.ous.showGrid == true}" ng-click="vm.showGrid(true)"><i class="fa fa-th"></i></button>
						<button type="button" class="btn btn-default" ng-class="{'btn-primary': user.preferences.ous.showGrid == false}" ng-click="vm.showGrid(false)"><i class="fa fa-list"></i></button>
					</div>
					<div class="btn-group">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					      <span translate="status_filter"></span><span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li role="presentation" ng-repeat="status in constants.clientstatus">
					    		<label role="menuitem" for="{{status.name}}">
									<input icheck value="{{status.id}}" name="{{status.name}}" checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" ng-model="vm.selectedStatus[status.id]" />
									{{status.name|translate}}
								</label>
						    </li>
					    </ul>
					</div>
					<div class="box-tools pull-right">
						<ng-include src="'assets/views/partials/og-options/og-ou-general-options.html'"></ng-include>
						<ng-include src="'assets/views/partials/og-options/og-information-options.html'"></ng-include>
						<ng-include src="'assets/views/partials/og-options/og-commands-options.html'"></ng-include>
					</div>
			</div>
		</div>
	</section>
	<!-- Main content -->
  	<section class="content">
		<!-- /.row -->
		<div class="row">
			<div class="col-md-12">
				<!-- Nested node template -->
				<script type="text/ng-template" id="ou_renderer.html">
					<div class="box box-default" ng-init="vm.labClientStatus(content.id)">
			            <div class="box-header with-border" ng-class="{'bg-info': vm.movingOu == content}">
			              	<h3 class="box-title bg-og">
			              		<div class="btn-group">
			              			<input icheck checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" ng-model="content.selected" ng-change="vm.selectOu(content)"/>
			              			<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle" >{{content.name}}</a>
			              			<ul class="dropdown-menu">
			              				<li role="presentation">
			              					<a role="menuitem" tabindex="-1" ui-sref="app.ous.new({parent: content.id})" translate="add_ou"></a>
			              				</li>
										<li role="presentation">
											<a role="menuitem" tabindex="-1" ui-sref="app.client.new({ou: content.id})" translate="add_client"></a>
										</li>
										<li role="presentation">
											<a role="menuitem" tabindex="-1" ui-sref="app.client.dhcp({ou: content.id})" translate="add_clients_from_dhcp"></a>
										</li>
										<li role="presentation" class="divider"></li>
										<li>
											<a class="" href="javascript:void(0)" translate="edit" ui-sref="app.ous.edit({ou: content.id})"></a>
										</li>
										<li role="presentation" class="divider"></li>
					                    <li role="presentation" class="delete-option">
					                    	<a class="" href="javascript:void(0)" translate="delete" ng-click="vm.deleteOu(content)"></a>
					                    </li>
			                        </ul>
			              		</div>
			              	</h3>
			              	<button ng-if="(vm.movingOu != null && vm.movingOu != content && !content.selectedForMove)||(vm.movingClients == true)" class="btn btn-box-tool" ng-click="vm.doMove(content)"><i class="fa fa-level-down"></i></button>

				            <div class="box-tools pull-right">
				            	<button type="button" class="btn btn-box-tool" ng-click="vm.selectForMove(content)"><i class="fa fa-arrows"></i></button>
				            	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				            	</button>
				            </div>
			              <!-- /.box-tools -->
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body folders" style="display: block;">
			             	<div ng-repeat="content in content.children | filter: vm.searchText" ng-include="'ou_renderer.html'"></div>
			             	<div ng-if="content.clients" ng-include="'clients_renderer.html'"></div>
			            </div>
			            <!-- /.box-body -->
			          </div>
				</script>
				<script type="text/ng-template" id="clients_renderer.html">
					<table ng-if="user.preferences.ous.showGrid == false && content.clients.length > 0" class="table table-hover table-no-border">
						<thead>
							<tr>
			                  <th translate="select"></th>
			                  <th translate="name"></th>
			                  <th translate="ip"></th>
			                  <th translate="mac"></th>
			                  <th translate="status"></th>
			                  <th translate="options"></th>
			                </tr>
						</thead>
		                <tbody>
		                <!-- ng-if="vm.selectedStatus[client.status] == true" -->
		                <tr ng-if="vm.selectedStatus[clientStatus[client.id]] == true || client.status == null" ng-repeat="client in content.clients | filter: vm.searchText" ng-class="{'odd': $index%2 == 0, 'even': $index%2 != 0}">
		                  <td><input icheck checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" ng-model="client.selected" ng-change="vm.selectClient(client, content)" /></td>
		                  <td>{{client.name}}</td>
		                  <td>{{client.ip}}</td>
		                  <td>{{client.mac}}</td>
		                  <td>
			                  <span class="badge client-color-{{clientStatus[client.id]}}">{{clientStatus[client.id] | translate}}</span>
		                  </td>
		                  <td class="right">
				              <div class="btn-group visible-md visible-lg hidden-sm hidden-xs">
				                <button class="btn btn-default " translate="edit" ui-sref="app.client.edit({ou: content.id, clientId: client.id})"></button>
				                <button class="btn btn-danger " translate="delete" ng-click="vm.deleteClient(content, client)"></button>
				              </div>
				              <div class="btn-group hidden-md hidden-lg">
				                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				                  <i class="fa fa-gear"></i>
				                  <span class="caret"></span>
				                  <span class="sr-only">Toggle Dropdown</span>
				                </button>
				                <ul class="dropdown-menu" role="menu">
				                  <li class="btn-group-vertical">
				                    <button class="btn btn-default" href="javascript:void(0)" translate="edit" ui-sref="app.client.edit({ou: content.id, clientId: client.id})"></button>
				                    <button class="btn btn-danger" href="javascript:void(0)" translate="delete" ng-click="vm.deleteClient(content, client)"></button>
				                  </li>
				                </ul>
				              </div>
				           </td>
		                </tr>
		              </tbody>
					</table>
					<div ng-if="user.preferences.ous.showGrid == true" class="box-body bg-lab">
						<!-- ng-if="vm.selectedStatus[client.status] == true" -->
						<div ng-if="vm.selectedStatus[clientStatus[client.id]] == true || client.status == null" class="col-md-2 col-xs-6 padding-5" ng-repeat="client in content.clients | filter: vm.searchText">
							<div class="info-box client" >
								<span style="position: absolute;">
									<input icheck checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" ng-model="client.selected" ng-change="vm.selectClient(client, content)" />
								</span>
					            <span class="info-box-icon">
					            	<i class="fa fa-desktop">
					            	</i>
					            	<small class="label client-color-{{clientStatus[client.id]}}">{{clientStatus[client.id] | translate}}</small>
					            </span>
					            <div class="info-box-content">
					            	<a href="javascript:void(0)" ng-click="vm.deleteClient(content, client)" class="small-box-footer pull-right">
										<i class="fa fa-times"></i>
									</a>
									<span class="info-box-text">{{client.name}}</span>
									<span class="info-box-text">{{client.ip}}</span>
									<span class="info-box-text">{{client.mac}}</span>
									<div class="btn-group pull-right">
										<a href="javascript:void(0)" ui-sref="app.client.edit({ou: content.id, clientId: client.id})" class="btn btn-xs small-box-footer">
											<span translate="edit"></span> <i class="fa fa-arrow-circle-right"></i>
										</a>
									</div>
					            </div>
					            <!-- /.info-box-content -->
					        </div>
						</div>
					</div>
				</script>
				<button ng-if="(vm.movingOu != null && vm.movingOu != content && !content.selectedForMove)" class="btn btn-box-tool" ng-click="vm.doMove()"><i class="fa fa-level-down"></i></button>
				<div ng-repeat="content in vm.ous" ng-include="'ou_renderer.html'"></div>
			</div>
		</div>
	</section>
</ui-view>