<toaster-container toaster-options="{'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
<header class="main-header" ng-include="'assets/views/partials/header.html'">
</header>
<aside class="main-sidebar" ng-include="'assets/views/partials/sidebar.html'">
</aside>

<div ui-view="content" id="content" class="content-wrapper"></div>

<footer class="main-footer" ng-include="'assets/views/partials/footer.html'">
</footer>
<aside class="control-sidebar control-sidebar-dark" ng-include="'assets/views/partials/controlsidebar.html'">
</aside>
<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>