<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" translate="">{{vm.building.name}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>
<section class="content">
    <!-- /.row -->
    <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title" translate="aggregate_entrance"></h3>
        </div>
        <div class="box-body">
            <form id="Form" name="Form" ng-submit="vm.inputEntry(Form)" novalidate="novalidate">
              <div class="row">
                <div class="form-group col-xs-2" ng-class="{'has-error': vm.Form.classroom.$dirty && vm.Form.classroom.$invalid, 'has-success': vm.Form.classroom.$valid}">
                  <label class="control-label" for="classroom" >
                    <i class="fa" ng-class="{'fa-times-circle-o': vm.Form.classroom.$dirty && vm.Form.classroom.$invalid, 'fa-check': vm.Form.classroom.$valid}"></i>
                    {{'classroom'|translate}}
                  </label>
                  <select required="true" id="classroom" name="classroom" ng-options="classroom.id as classroom.name for classroom in vm.building.classrooms track by classroom.id" ng-model="vm.entry.classroom" type="text" class="form-control">
                  </select>
                </div>
                <div class="form-group col-xs-2" ng-class="{'has-error': vm.Form.startDate.$dirty && vm.Form.startDate.$invalid, 'has-success': vm.Form.startDate.$valid}">
                    <label class="control-label" for="startDate" >
                        <i class="fa" ng-class="{'fa-times-circle-o': vm.Form.startDate.$dirty && vm.Form.startDate.$invalid, 'fa-check': vm.Form.startDate.$valid}"></i>
                        {{'startDate'|translate}}
                    </label>
                    <input ng-model="vm.entry.startDate" required="true" id="startDate" name="startDate" type="time" class="form-control" placeholder="{{'startDate'|translate}}">
                </div>
                <div class="form-group col-xs-4" ng-class="{'has-error': vm.Form.subject.$dirty && vm.Form.subject.$invalid, 'has-success': vm.Form.subject.$valid}">
                    <label class="control-label" for="subject" >
                        <i class="fa" ng-class="{'fa-times-circle-o': vm.Form.subject.$dirty && vm.Form.subject.$invalid, 'fa-check': vm.Form.subject.$valid}"></i>
                        {{'subject'|translate}}
                    </label>
                    <input ng-model="vm.entry.subject" required="true" id="subject" name="subject" type="text" class="form-control" placeholder="{{'subject'|translate}}">
                </div>
                <div class="form-group col-xs-3" ng-class="{'has-error': vm.Form.professor.$dirty && vm.Form.professor.$invalid, 'has-success': vm.Form.professor.$valid}">
                    <label class="control-label" for="professor" >
                        <i class="fa"  ng-class="{'fa-times-circle-o': vm.Form.professor.$dirty && vm.Form.professor.$invalid, 'fa-check': vm.Form.professor.$valid}"></i>
                        {{'professor'|translate}}
                    </label>
                    <input ng-model="vm.entry.professor" required="true" id="professor" name="professor" type="text" class="form-control" placeholder="{{'professor'|translate}}">
                </div>
                <div class="form-group col-xs-1">
                  <button type="submit" class="btn btn-block btn-primary" translate="entry_input"></button>
                </div>
              </div>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
    <div class="row">
         <div class="col-lg-12">
            <div class="panel panel-danger">
                <div class="panel-heading" translate="current_entries">
                   
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive" ng-if="vm.learningclassrooms.length == 0">
                        <span translate=""></span>
                    </div>
                    <div class="table-responsive" ng-if="vm.learningclassrooms.length > 0">
                        <gbn-generate-table-params array="vm.learningclassrooms"></gbn-generate-table-params>

                        <table ng-table="tableParams" class="table table-bordered table-striped">
                           
                            <tbody>
                                <tr ng-repeat="entry in $data">
                                    <td data-title="'classroom'|translate|gbnCapitalize" sortable="'classroom.name'">{{entry.classroom.name}}</td>
                                    <td data-title="'start_date'|translate|gbnCapitalize" sortable="'startDate'">{{entry.startDate|date:"HH:mm"}}</td>
                                    <td data-title="'end_date'|translate|gbnCapitalize">
                                        <span class="form-group">
                                            <input gbn-focus="vm.endDateFocus(entry)" class="form-control" type="time" name="endDate_{{entry.id}}" ng-model="entry.endDate">
                                        </span>
                                    </td>
                                    <td data-title="'subject'|translate|gbnCapitalize" sortable="'subject'">{{entry.subject}}</td>
                                    <td data-title="'professor'|translate|gbnCapitalize" sortable="'professor'">{{entry.professor}}</td>
                                    <td data-title="'num_students'|translate|gbnCapitalize|gbnToUTF8"><input type="number" ng-model="entry.numStudents" name="numStudents_{{entry.id}}"></td>
                                    <td data-title="'options'|translate|gbnCapitalize">
                                        <div class="btn-group">
                                            <button  class="btn btn-app" type="button" ng-click="vm.submitEntry(entry)" ><i class="fa fa-save"></i>{{'end_button'|translate}}</button>
                                            <button ng-click="vm.removeEntry(entry)" class="btn btn-app btn-danger" type="button" ><i class="fa fa-remove"></i>{{'remove_button'|translate}}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <div class="row">
         <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading" translate="today_entries">
                   
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive" ng-if="vm.closedLearningclassrooms.length == 0">
                        <span translate=""></span>
                    </div>
                    <div class="table-responsive" ng-if="vm.closedLearningclassrooms.length > 0">
                        <gbn-generate-table-params array="vm.closedLearningclassrooms" table-params="tableParams2"></gbn-generate-table-params>

                        <table ng-table="tableParams2" class="table table-bordered table-striped">
                           
                            <tbody>
                                <tr ng-repeat="entry in $data">
                                    <td data-title="'classroom'|translate|gbnCapitalize" sortable="'classroom.name'">{{entry.classroom.name}}</td>
                                    <td data-title="'start_date'|translate|gbnCapitalize" sortable="'startDate'">{{entry.startDate | date:'HH:mm'}}</td>
                                    <td data-title="'end_date'|translate|gbnCapitalize" sortable="'endDate'">{{entry.endDate | date:'HH:mm'}}</td>
                                    <td data-title="'subject'|translate|gbnCapitalize" sortable="'subject'">{{entry.subject}}</td>
                                    <td data-title="'professor'|translate|gbnCapitalize" sortable="'professor'">{{entry.professor}}</td>
                                    <td data-title="'num_students'|translate|gbnCapitalize|gbnToUTF8">{{entry.numStudents}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
</section>