<section class="content-header">
  <h1 translate="new_image">
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="'/app/dashboard'"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a [routerLink]="'/app/images'"><i class="fa fa-cubes"></i> {{'images'|translate}}</a></li>
    <li class="active" translate="edit_image"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
  <div>
    <div class="col-md-12">
      <div class="box-tools pull-right">
        <button class="btn btn-primary" translate="save" (click)="save()"></button>
      </div>
    </div>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
          <form role="form"  name="Form">
              <app-form-input [model]="image" [cols]="1" [formType]="form"></app-form-input>
          </form>
          <table class="table table-bordered" *ngIf="image.partitionInfo">
            <tbody>
            <tr>
              <th translate="disk"></th>
              <th translate="partition"></th>
              <th translate="filesystem"></th>
              <th translate="osName"></th>
              <th translate="revision"></th>
              <th translate="creation_date"></th>
            </tr>
            <tr>
              <td>
                <span *ngIf="image.partitionInfo">{{image.partitionInfo.numDisk}}</span>
                <span *ngIf="!image.partitionInfo" translate="not_available"></span>
              </td>
              <td>
                <span *ngIf="image.partitionInfo">{{image.partitionInfo.numPartition}}</span>
                <span *ngIf="!image.partitionInfo" translate="not_available"></span>
              </td>
              <td>
                <span *ngIf="image.partitionInfo">{{image.partitionInfo.filesystem}} ({{image.partitionInfo.partitionCode}})</span>
                <span *ngIf="!image.partitionInfo" translate="not_available"></span>
              </td>
              <td>
                <span *ngIf="image.partitionInfo">{{image.partitionInfo.osName}}</span>
                <span *ngIf="!image.partitionInfo" translate="not_available"></span>
              </td>
              <td>
                <span *ngIf="image.revision" class="badge bg-green">{{image.revision}}</span>
                <span *ngIf="!image.revision" translate="not_available"></span>
              </td>
              <td>
                <span *ngIf="image.createdAt">{{image.createdAt | date: "DD/MM/YYYY HH:mm"}}</span>
                <span *ngIf="!image.createdAt" translate="not_available"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
