::ng-deep app-login {
  ::ng-deep .login-page {
    overflow: hidden;
    min-height: 100%;
    position: absolute;
    width: 100%;
    background: white;
  }

  ::ng-deep .login-box {
    border: 1px solid;
  }

  ::ng-deep .login-logo {
    background: #d2d6de;
  }
}
