[Desktop Entry]
Name=OpenGnSys Agent Tools
Comment=OpenGnSys Userspace tools
Exec=/usr/bin/OGAgentTool-startup
Icon=/usr/share/OGAgent/img/oga.png
Terminal=false
Type=Application
NoDisplay=true
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
