<section class="content-header">
  <h1 translate="new_image">
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a ui-sref="app.images"><i class="fa fa-cubes"></i> {{'images'|translate}}</a></li>
    <li class="active" translate="image"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
	<div>
		<div class="col-md-12">
			<div class="box-tools pull-right">
				<button class="btn btn-primary" translate="save" ng-click="vm.save(Form)"></button>
			</div>
		</div>
	</div>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
				</div>
				<div class="box-body">
					<form role="form" gbn-auto-form name="Form" form-options="vm.formOptions" form-model="vm.image">
						
					</form>
				</div>
			</div>
		</div>
	</div>
</section>