<section class="content-header">
  <h1 translate="deploy_image"></h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="'/app/dashboard'"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a [routerLink]="'/app/ous'" ><i class="fa fa-th"></i> {{'ous'|translate}}</a></li>
    <li class="active" translate="deploy_image"></li>
  </ol>
</section>
<section style="padding: 0 30px;">
  <h3 translate="selected_clients"></h3>
  <app-og-selected-clients></app-og-selected-clients>
</section>
<section class="content padding-top-30" style="padding-top: 30px">
  <div class="box box-default box-solid">
    <div class="box-header with-border">
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form role="form" name="Form">
        <div class="row">
          <div class="form-group col-md-3" >
            <div class="checkbox clip-check check-primary checkbox-inline">
              <input id="deployImageParameters" name="deployImage" icheck checkbox-class="iradio_square-blue" radio-class="iradio_square-blue" type="radio" class="selection-checkbox" value="true" [(ngModel)]="deployImage" (change)="updateDeployOptions()" />
            </div>
            <label for="deployImage">
              <span translate="deploy_image_update_restore"></span>
            </label>
          </div>
          <div class="form-group col-md-3">
            <div class="checkbox clip-check check-primary checkbox-inline">
              <input id="parameters" name="updateCache" icheck checkbox-class="iradio_square-blue" radio-class="iradio_square-blue" type="radio" class="selection-checkbox" value="false" [(ngModel)]="deployImage" (change)="updateDeployOptions()" />
            </div>
            <label for="updateCache">
              <span translate="update_cache_only_download"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <div class="form-group" ng-class="{'has-error':Form.images.$dirty && Form.images.$invalid, 'has-success':Form.images.$valid}">
              <label>
                <span translate="images"></span>
              </label>
              <select (change)="setCanonicalName()" class="form-control" type="text" [(ngModel)]="image" name="images">
                <option *ngFor="let image of images" [ngValue]="image">{{image.canonicalName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-2" *ngIf="deployImage === 'true'">
            <label for="disk" translate="disk">
            </label>
            <input name="disk" type="number" min="1" [(ngModel)]="disk" class="form-control">

          </div>
          <div class="form-group col-md-2" *ngIf="deployImage === 'true'">
            <label for="partition" translate="partition">
            </label>
            <input name="partition" type="number" min="1" [(ngModel)]="partition" class="form-control">
          </div>
          <div class="form-group col-md-4">
            <label for="deployMethod" translate="deploy_method">
            </label>
            <select class="form-control" name="deployMethod" [(ngModel)]="deployMethod">
              <option *ngFor="let deployMethod of deployMethods" [value]="deployMethod">{{deployMethod}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="deployMethod == 'MULTICAST' || deployMethod == 'MULTICAST-DIRECT'">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="port" translate="port">
              </label>
              <input class="form-control" type="text" name="port" [(ngModel)]="multicast.port"/>
            </div>
            <div class="form-group col-md-4">
              <label for="address" translate="address">
              </label>
              <input class="form-control" type="text" name="address" [(ngModel)]="multicast.address"/>
            </div>
            <div class="form-group col-md-4">
              <label for="multicastMode" translate="mode">
              </label>
              <input class="form-control" type="text" name="multicastMode" [(ngModel)]="multicast.mode"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="speed" translate="speed">
              </label>
              <input class="form-control" type="text" name="speed" [(ngModel)]="multicast.speed"/>
            </div>
            <div class="form-group col-md-4">
              <label for="maxClients" translate="max_clients">
              </label>
              <input class="form-control" type="text" name="maxClients" [(ngModel)]="multicast.maxClients"/>
            </div>
            <div class="form-group col-md-4">
              <label for="maxWaitTime" translate="max_wait_time">
              </label>
              <input class="form-control" type="text" name="maxWaitTime" [(ngModel)]="multicast.maxWaitTime"/>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="deployMethod == 'TORRENT'">
          <div class="form-group col-md-6">
            <label for="torrentMode" translate="mode">
            </label>
            <input class="form-control" type="text" name="torrentMode" [(ngModel)]="torrent.mode"/>
          </div>
          <div class="form-group col-md-6">
            <label for="seedTime" translate="seed_time">

            </label>
            <input class="form-control" type="text" name="seedTime" [(ngModel)]="torrent.seedTime"/>
          </div>
        </div>
      </form>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group pull-left">
            <button class="btn btn-primary"(click)="generateOgInstruction()"><span translate="generate_og_instruction"></span></button>
            <button   [class]="editInstructions == false ? 'btn btn-default':'btn btn-success'" *ngIf="ogCommandsService.ogInstructions != ''" (click)="editInstructions = !editInstructions"><span translate="{{editInstructions == false?'edit':'done'}}"></span></button>
          </div>
          <div class="btn-group pull-right">
            <app-og-execute-command-options></app-og-execute-command-options>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header"></div>
            <div class="box-body" >
              <div *ngIf="editInstructions == false" [innerHTML]="ogCommandsService.ogInstructions|ogCommands"></div>
              <textarea *ngIf="editInstructions == true" class="og-instructions" [(ngModel)]="ogCommandsService.ogInstructions"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
