<section class="content-header">
  <h1 translate="create_image">
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i>{{'dashboard'|translate}}</a></li>
    <li><a ui-sref="app.ous"><i class="fa fa-th"></i>{{'ous'|translate}}</a></li>
    <li class="active" translate="create_image"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
	<div>
		<div class="col-md-12">
			<div class="box-tools pull-right">
				<button class="btn btn-primary" translate="execute" ng-click="vm.sendCommand()"></button>
			</div>
		</div>
	</div>
</section>
<section style="padding: 0 30px;">
	<h3 translate="selected_clients"></h3>
	<ng-include src="'assets/views/partials/og-options/og-selected-clients.html'"></ng-include>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
				</div>
				<div class="box-body">
					<form role="form" name="vm.Form">
						<div class="form-group">
							<label>
								<span translate="client"></span>
								{{vm.client.name}}
							</label>
						</div>
						<div class="form-group" ng-class="{'has-error':vm.Form.images.$dirty && vm.Form.images.$invalid, 'has-success':vm.Form.images.$valid}">
							<label for="images">
								<span translate="images">
							</label>
							<select ng-change="vm.setCanonicalName()" ng-options="image as image.canonicalName for image in vm.images" class="form-control" type="text" ng-model="vm.command.image" name="images"></select>
						</div>
						<div class="form-group" ng-class="{'has-error':vm.Form.canonicalName.$dirty && vm.Form.canonicalName.$invalid, 'has-success':vm.Form.canonicalName.$valid}">
							<label for="canonicalName">
								<span translate="canonicalName">
								<span ng-if="required='true'" class="symbol required"></span>
							</label>
							<input type="text" class="form-control" type="text" required="true" ng-model="vm.command.canonicalName" name="canonicalName">
						</div>
						<div>
							<table class="table">
								<thead>
									<tr>
										<th translate="select">
										</th>
										<th translate="disk">
										</th>
										<th translate="partition">
										</th>
										<th translate="filesystem">
										</th>
										<th translate="osname">
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="partition in vm.client.partitions" ng-if="vm.isClonable(partition)">
										<td>
											<input icheck type="radio" checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" ng-model="vm.selectedPartition" ng-value="$index" />
										</td>
										<td>
											{{partition.numDisk}}
										</td>
										<td>
											{{partition.numPartition}}
										</td>
										<td>
											{{partition.filesystem}}
										</td>
										<td>
											{{partition.osName}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>