<section class="content-header">
  <h1 translate="delete_cache_image">
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i>{{'dashboard'|translate}}</a></li>
    <li><a ui-sref="app.ous"><i class="fa fa-th"></i>{{'ous'|translate}}</a></li>
    <li class="active" translate="delete_cache_image"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
	<div>
		<div class="col-md-12">
			<div class="box-tools pull-right">
				<button class="btn btn-primary" translate="execute" ng-click="vm.sendCommand()"></button>
			</div>
		</div>
	</div>
</section>
<section style="padding: 0 30px;">
	<h3 translate="selected_clients"></h3>
	<ng-include src="'assets/views/partials/og-options/og-selected-clients.html'"></ng-include>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
				</div>
				<div class="box-body">
						<div>
							<table class="table">
								<thead>
									<tr>
										<th translate="select">
										</th>
										<th translate="type">
										</th>
										<th translate="name">
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="image in vm.cacheImages" >
										<td>
											<input icheck type="checkbox" checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" ng-model="image.selected" ng-value="true" />
										</td>
										<td>
											{{image.type}}
										</td>
										<td>
											{{image.name}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>