<section class="content-header">
  <h1 translate="new_command">
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a ui-sref="app.commands"><i class="fa fa-terminal"></i> {{'commands'|translate}}</a></li>
    <li class="active" translate="command"></li>
  </ol>
</section>
<section style="padding: 0 30px;">
	<h3 translate="selected_clients"></h3>
	<ng-include src="'assets/views/partials/og-options/og-selected-clients.html'"></ng-include>
</section>
<section fixed-toolboxbar class="toolboxbar">
	<div>
		<div class="col-md-12">
			<div class="box-tools pull-right" ng-if="vm.newCommand == 'true'" ng-include="'assets/views/partials/og-options/og-execute-command-options.html'">
			</div>
			<div class="box-tools pull-right" ng-if="vm.newCommand == 'false'">
				<button class="btn btn-default" ng-click="vm.executeSelectedCommand()"><span translate="execute"></span></button>
			</div>
		</div>
	</div>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<div class="form-inline">
						<div class="form-group" ng-class="{'has-error':vm.Form.newCommand.$dirty && vm.Form.newCommand.$invalid, 'has-success':vm.Form.newCommand.$valid}">
							<div class="checkbox clip-check check-primary checkbox-inline">
								<input id="parameters" name="newCommand" icheck checkbox-class="iradio_square-blue" radio-class="iradio_square-blue" type="radio" class="selection-checkbox" value="true" ng-model="vm.newCommand" />
							</div>
							<label for="newCommand">
								<span translate="new_command"></span>
							</label>
						</div>
						<div class="form-group" ng-class="{'has-error':vm.Form.savedCommand.$dirty && vm.Form.savedCommand.$invalid, 'has-success':vm.Form.savedCommand.$valid}">
							<div class="checkbox clip-check check-primary checkbox-inline">
								<input id="parameters" name="savedCommand" icheck checkbox-class="iradio_square-blue" radio-class="iradio_square-blue" type="radio" class="selection-checkbox" value="false" ng-model="vm.newCommand" />
							</div>
							<label for="savedCommand">
								<span translate="saved_command"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="box-body">
					<form role="form" name="vm.Form" ng-if="vm.newCommand == 'true'">
						<div class="form-group" ng-class="{'has-error':vm.Form.script.$dirty && vm.Form.script.$invalid, 'has-success':vm.Form.script.$valid}">
							<label for="script">
								<span translate="script"></span>
								<span ng-if="required='true'" class="symbol required"></span>
							</label>
							<textarea class="form-control" class="og-instructions" type="text" required="true" ng-model="OGCommandsService.ogInstructions" name="script"></textarea>
						</div>
					</form>
					<form role="form" name="vm.Form" ng-if="vm.newCommand == 'false'">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label translate="commands"></label>
									<select class="form-control" ng-init="vm.loadCommands();vm.editInstructions = false" ng-options="command as command.title for command in vm.commands" ng-model="vm.selectedCommand" ng-change="vm.updateSelectedCommand()"></select>
								</div>
								<div class="form-group" ng-if="vm.selectedCommand.parameters == true">
									<label translate="parameters"></label>
									<p class="help-block"><span translate="detected_params"></span> <span style="font-weight: bold" ng-bind-html="vm.selectedCommand.inputs.length"></span></p>
									<div class="row">
										<div class="col-md-2" ng-repeat="input in vm.selectedCommand.inputs track by $index">
											<label for="param{{$index}}">
												<span translate="parameter"></span> {{$index+1}}
											</label>
											<input type="text" name="param{{$index}}" ng-model="vm.selectedCommand.inputs[$index]" ng-change="vm.updateScript()">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
					    	<div class="col-md-12">
					    		<div class="box">
					    			<div class="box-header"></div>
					    			<div class="box-body" >
					    				<div ng-if="vm.editInstructions == false" ng-bind-html="OGCommandsService.ogInstructions|ogCommands"></div>
					    				<textarea ng-if="vm.editInstructions == true" class="og-instructions" ng-model="OGCommandsService.ogInstructions"></textarea>
					    			</div>
					    		</div>
					    	</div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>