<section class="content-header">
  <h1 translate="partition_format"></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a ui-sref="app.ous" ><i class="fa fa-th"></i> {{'ous'|translate}}</a></li>
    <li class="active" translate="partition_format"></li>
  </ol>
</section>
<section style="padding: 0 30px;">
	<h3 translate="selected_clients"></h3>
	<ng-include src="'assets/views/partials/og-options/og-selected-clients.html'"></ng-include>
</section>
<section class="content padding-top-30" style="padding-top: 30px">
	<div class="box box-default box-solid">
	    <div class="box-header with-border">
	      <div class="row">
				<div class="col-md-4">
					<span translate="num_disk"></span>: <input type="number" step="1" min="1" ng-model="vm.diskConfig.disk" >
				</div>
				<div class="col-md-4">
					<span translate="part_table"></span>: <b><select ng-options="partitionTableTypes as partitionTableTypes.type for partitionTableTypes in vm.partitionTableTypes" ng-model="vm.diskConfig.parttable" ng-change="vm.checkPartitionTableType()"></select></b>
				</div>
				<div class="col-md-4">
					<span translate="size"></span>: <b>{{vm.getSizeInGB(vm.diskConfig.size)}} GB ({{vm.getSizeInGB(vm.diskConfig.size*vm.diskConfig.remaining/100)}} GB <span translate="free"></span>)</b>
				</div>
			</div>
	      <div class="box-tools pull-right">
	        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	        </button>
	      </div>
	      <!-- /.box-tools -->
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body">
	    	<div class="row">
	    		<div class="col-md-12">
	    			 <table col-resizable class="disk-partitions" ng-model="vm.diskConfig.partitions" cr-update-property="usage" cr-on-drag="vm.updatePartitionUsage">
	    			 	<tr>
		    			 	<td ng-repeat="partition in vm.diskConfig.partitions" style="width: {{partition.usage}}%; background-color: {{vm.getPartitionColor(partition)}}">
		    			 		<span>{{partition.type}} ({{partition.usage}}%)</span>
					    		<table col-resizable class="disk-partitions" ng-model="partition.partitions" cr-update-property="usage" cr-on-drag="vm.updateExtendedPartitions" cr-force-refresh="refresh-extended-partitions">
				    			 	<tr>
					    			 	<td ng-repeat="extendedPartition in partition.partitions" style="width: {{extendedPartition.usage}}%; background-color: {{vm.getPartitionColor(extendedPartition)}}">
					    			 		<span>{{extendedPartition.type}} ({{extendedPartition.usage}}%)</span>
					    			 	</td>
					    			 </tr>
				    			 </table>
		    			 	</td>
		    			 </tr>
	    			 </table>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-8">
	    			<button translate="add" class="btn btn-primary" ng-click="vm.addPartition()"></button>
	              	<table class="table table-condensed table-striped partitions">
						<tbody>
							<tr>
								<th translate="partition"></th>
								<th translate="part_type"></th>
								<th translate="filesystem"></th>
								<th><span translate="size"></span> (bytes)</th>
								<th translate="usage"></th>
								<th translate="format"></th>
								<th translate="remove"></th>
							</tr>
						</tbody>
						<tbody ng-repeat="partition in vm.diskConfig.partitions | filter: {partition: '!0'}" ng-class="{'extended-partition': partition.partitions.length > 0}">
							<tr ng-class="{'odd': $index%2 == 0, 'even': $index%2 != 0}">
								<td>{{partition.partition}}</td>
								<td>
									<select  ng-disabled="vm.partTableTypeIsGPT() && $index == 0 && vm.isEFI(partition)"  ng-options="partitionType.type as partitionType.type for partitionType in vm.diskConfig.parttable.partitions" ng-model="partition.type" ng-change="vm.checkPartitionType(partition)"></select>
								</td>
								<td>{{partition.filesystem}}</td>
								<td>
									<input step=".01" type="number" ng-model="partition.size" ng-change="vm.setPartitionUsage(vm.diskConfig, partition)"/>
								</td>
				 				<td>
				 					<input step=".01" type="number" ng-model="partition.usage" ng-change="vm.updatePartitionUsage(partition)">
				 					<span>%</span>
				 				</td>
				 				<td>
				 					<div ng-if="vm.isEXTENDED(partition) != true" class="checkbox clip-check check-primary checkbox-inline" style="margin-top: 0">
										<input name="format" icheck checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" value="true" ng-model="partition.format" />
									</div>
				 				</td>
				 				<td>
				 					<button ng-if="!(vm.partTableTypeIsGPT() && $index == 0 && vm.isEFI(partition))" class="btn btn-danger btn-xs"><i class="fa fa-times" ng-click="vm.removePartition(partition)"></i></button>
				 				</td>
				 				<td ng-if="vm.isEXTENDED(partition) == true">
				 					<button class="btn btn-primary btn-xs"><i class="fa fa-plus" ng-click="vm.addExtendedPartition(partition)"></i></button>
				 				</td>
				 			</tr>
				 			<tr ng-repeat="extendedPartition in partition.partitions" class="extended" ng-class="{'odd': $index%2 == 0, 'even': $index%2 != 0}">
								<td>{{extendedPartition.partition}}</td>
								<td>
									<select ng-options="partitionType.type as partitionType.type for partitionType in vm.diskConfig.parttable.partitions" ng-model="extendedPartition.type" ng-change="vm.checkPartitionType(extendedPartition)"></select>
								</td>
								<td>{{extendedPartition.filesystem}}</td>
								<td><input step=".01" type="number" ng-model="extendedPartition.size" ng-change="vm.updateExtendedPartitions(extendedPartition)"/></td>
				 				<td>
				 					<input step=".01" type="number" ng-model="extendedPartition.usage" ng-change="vm.updateExtendedPartitionsUsage(extendedPartition)">
				 					<span>%</span>
				 				</td>
				 				<td>
				 					<div class="checkbox clip-check check-primary checkbox-inline" style="margin-top: 0">
										<input name="format" icheck checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" value="true" ng-model="extendedPartition.format" />
									</div>
				 				</td>
				 				<td>
				 					<button class="btn btn-danger btn-xs"><i class="fa fa-times" ng-click="vm.removeExtendedPartition(extendedPartition)"></i></button>
				 				</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-4">
					<flot dataset="vm.diskConfig.diskChartData" options="vm.diskConfig.diskChartOptions" height="200px"></flot>
				</div>
			</div>
	    </div>
	    <!-- /.box-body -->
	    <div class="box-footer">
	    	<div class="row">
	    		<div class="col-md-12">
	    			<div class="btn-group pull-left">
		    			<button class="btn btn-primary" ng-click="vm.generateOgInstruction()"><span translate="generate_og_instruction"></span></button>
		    			<button  class="btn" ng-class="{'btn-default': vm.editInstructions == false, 'btn-success': vm.editInstructions == true}" ng-init="vm.editInstructions = false" ng-if="OGCommandsService.ogInstructions != ''" ng-click="vm.editInstructions = !vm.editInstructions"><span translate="{{vm.editInstructions == false?'edit':'done'}}"></span></button>
		    		</div>
		    		<div class="btn-group pull-right">
		    			<ng-include src="'assets/views/partials/og-options/og-execute-command-options.html'">
		    			</ng-include>
		    		</div>
	    		</div>
	    	</div>
	    	<div class="row">
		    	<div class="col-md-12">
		    		<div class="box">
		    			<div class="box-header"></div>
		    			<div class="box-body" >
		    				<div ng-if="vm.editInstructions == false" ng-bind-html="OGCommandsService.ogInstructions|ogCommands"></div>
		    				<textarea ng-if="vm.editInstructions == true" class="og-instructions" ng-model="OGCommandsService.ogInstructions"></textarea>
		    			</div>
		    		</div>
		    	</div>
		    </div>
	    </div>
	</div>
</section>