/*
 * Skin: uhu
 * -----------
 */
/* skin-uhu navbar */
.skin-uhu .main-header {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }

.skin-uhu .main-header .navbar-toggle {
  color: #fff; }

.skin-uhu .main-header .navbar-brand {
  color: #fff;
  border-right: 1px solid #eee; }

.skin-uhu .main-header > .navbar {
  background-color: #950002; }

.skin-uhu .main-header > .navbar .nav > li > a {
  color: #fff; }

.skin-uhu .main-header > .navbar .nav > li > a:hover,
.skin-uhu .main-header > .navbar .nav > li > a:active,
.skin-uhu .main-header > .navbar .nav > li > a:focus,
.skin-uhu .main-header > .navbar .nav .open > a,
.skin-uhu .main-header > .navbar .nav .open > a:hover,
.skin-uhu .main-header > .navbar .nav .open > a:focus,
.skin-uhu .main-header > .navbar .nav > .active > a {
  background: #950002;
  color: #999999; }

.skin-uhu .main-header > .navbar .sidebar-toggle {
  color: #fff; }

.skin-uhu .main-header > .navbar .sidebar-toggle:hover {
  color: #999999;
  background: #950002; }

.skin-uhu .main-header > .navbar > .sidebar-toggle {
  color: #fff;
  border-right: 1px solid #eee; }

.skin-uhu .main-header > .navbar .navbar-nav > li > a {
  border-right: 1px solid #eee; }

.skin-uhu .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-uhu .main-header > .navbar .navbar-right > li > a {
  border-left: 1px solid #eee;
  border-right-width: 0; }

.skin-uhu .main-header > .logo {
  background-color: #950002;
  color: #fff;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #eee; }

.skin-uhu .main-header > .logo:hover {
  background-color: #950002; }

@media (max-width: 767px) {
  .skin-uhu .main-header > .logo {
    background-color: #222222;
    color: #fff;
    border-bottom: 0 solid transparent;
    border-right: none; }
  .skin-uhu .main-header > .logo:hover {
    background-color: #1f1f1f; } }

.skin-uhu .main-header li.user-header {
  background-color: #222; }

.skin-uhu .content-header {
  background: transparent;
  box-shadow: none; }

.skin-uhu .wrapper,
.skin-uhu .main-sidebar,
.skin-uhu .left-side {
  background-color: #222d32; }

.skin-uhu .user-panel > .info,
.skin-uhu .user-panel > .info > a {
  color: #fff; }

.skin-uhu .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226; }

.skin-uhu .sidebar-menu > li > a {
  border-left: 3px solid transparent; }

.skin-uhu .sidebar-menu > li:hover > a,
.skin-uhu .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #ffffff; }

.skin-uhu .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41; }

.skin-uhu .sidebar a {
  color: #b8c7ce; }

.skin-uhu .sidebar a:hover {
  text-decoration: none; }

.skin-uhu .treeview-menu > li > a {
  color: #8aa4af; }

.skin-uhu .treeview-menu > li.active > a,
.skin-uhu .treeview-menu > li > a:hover {
  color: #ffffff; }

.skin-uhu .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px; }

.skin-uhu .sidebar-form input[type="text"],
.skin-uhu .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.skin-uhu .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px; }

.skin-uhu .sidebar-form input[type="text"]:focus,
.skin-uhu .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666; }

.skin-uhu .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff; }

.skin-uhu .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0; }

.skin-uhu .pace .pace-progress {
  background: #222; }

.skin-uhu .pace .pace-activity {
  border-top-color: #222;
  border-left-color: #222; }