<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li class="header">
    <div class="form-group">
      <label translate="ous"></label>
      <select class="form-control" ng-options="ou as ou.name for ou in mc.ous track by ou.id" ng-model="mc.selectedOu" ng-change="mc.changeOu()"></select>
    </div>
  </li>
  <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.ous">
      <i class="fa fa-th"></i> <span translate="ous"></span>
    </a>
  </li>
  <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.images">
      <i class="fa fa-cubes"></i> <span translate="images"></span>
    </a>
  </li>
  <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.repositories">
      <i class="fa fa-database"></i> <span translate="repositories"></span>
    </a>
  </li>
  <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.hardware">
      <i class="fa  fa-server"></i> <span translate="hardware"></span>
    </a>
  </li>
  <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.software">
      <i class="fa fa-archive"></i> <span translate="software"></span>
    </a>
  </li>
  <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.menus">
      <i class="fa fa-file-text-o"></i> <span translate="menus"></span>
      <small class="label pull-right bg-green" translate="comming_soon"></small>
    </a>
  </li>
   <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.commands">
      <i class="fa fa-terminal"></i> <span translate="commands"></span>
    </a>
  </li>
   <li class="treeview">
    <a href="javascript:void(0)" ui-sref="app.netboot">
      <i class="fa fa-book"></i> <span translate="netboot_templates"></span>
    </a>
  </li>
</ul>