# OpenGnsys Web Admin Console template configuration for Apache.

Alias /opengnsys CONSOLEDIR

RewriteEngine On

# Redirect HTTP to HTTPS and default configuration.
<Directory CONSOLEDIR>
	RewriteCond %{HTTPS} !=on
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R]
	Require all granted
	Options -Indexes +FollowSymLinks
	DirectoryIndex index.php
	AddType octet/stream .pkg
</Directory>

# Redirect HTTP to HTTPS and RESTful configuration.
<Directory CONSOLEDIR/rest>
	RewriteBase /opengnsys/rest/
	RewriteRule .? - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	RewriteCond %{HTTPS} !=on
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]
</Directory>
