ddns-update-style none;
option arch code 93 = unsigned integer 16;
option domain-name "example.org";
log-facility local7;
not-authoritative;

subnet NETIP netmask NETMASK {
    option domain-name-servers DNSIP;
    option routers ROUTERIP;
    option broadcast-address NETBROAD;
    default-lease-time 600;
    max-lease-time 7200;
    next-server SERVERIP;
    filename "grldr";
    # 0007 == x64 EFI boot
    if option arch = 00:07 {
        filename "shimx64.efi.signed";
    } else {
        filename "grldr";
    }
    use-host-decl-names on;

# Ejemplo para PC.
#    host HOSTNAME1 {
#        hardware ethernet HOSTMAC1;
#        fixed-address HOSTIP1;
#   }

# Ejemplo para Mac.
#    group {
#        option tftp-server-name="SERVERIP";
#        option bootfile-name "grldr";
#        host MACOSHOST1 {
#            hardware ethernet MACOSHOSTMAC1;
#            fixed-address MACOSHOSTIP1;
#       }
#   }

}

