ddns-update-style none;
option domain-name "example.org";
log-facility local7;
not-authoritative;

subnet NETIP netmask NETMASK {
    option domain-name-servers DNSIP;
    option routers ROUTERIP;
    option broadcast-address NETBROAD;
    default-lease-time 600;
    max-lease-time 7200;
    next-server SERVERIP;
    filename "grldr";
    use-host-decl-names on;

#    host HOSTNAME1 {
#        hardware ethernet HOSTMAC1;
#        fixed-address HOSTIP1;
#   }

}

