# Los archivos se copian y luego se corta el original, para que los equipos puedan seguir escribiendo sobre ellos
# Las copias se comprimen
# Clientes: se guardan 500K de cada cliente: se rotan cuando llegan a 100K y se guardan 5
# Mcastlog: se guardan dos semanas. 
# servicios opengnsys y tracker: se guardan 4 semanas


copytruncate
compress
OPENGNSYSDIR/log/clients/*.log {
     rotate 5
     size 100k
}

OPENGNSYSDIR/log/mcastlog/ogAdmRepoMcast.* { 
     rotate 2
     weekly
}

OPENGNSYSDIR/log/bttrack.log OPENGNSYSDIR/log/ogAdmRepo.log OPENGNSYSDIR/log/ogAdmServer.log {
     rotate 4
     weekly
}

