# Configuración de logrotate para el servidor de administración de OpenGnsys
# Los archivos se copian y luego se corta el original, para que los equipos puedan seguir escribiendo sobre ellos
# Las copias se comprimen
# Los registros de las transferencias multicast se guardan una semana (repo).
# El resto de los registros se comprueban diariamente que no excedan 100k. Se mantienen los últimos 5.
#    Con esta condición los servicios de OpenGnsys Server conservan datos de más de un mes.

copytruncate
compress

/opt/opengnsys/log/clients/*.log
/opt/opengnsys/log/ogAdmServer.log
/opt/opengnsys/log/ogagent.log
/opt/opengnsys/log/opengnsys.log
/opt/opengnsys/log/remotepc.log
/opt/opengnsys/log/rest.log
{
	rotate 5
	size 100k
}
