[tftpboot]
   comment = el directorio fisico ogclient debe estar como escritura
   writeable = no
   read only = yes
   #locking = no
   path = /var/lib/tftpboot
   guest ok = no

[ogboot]
   comment = OpenGnSys Boot
   writeable = no
   read only = yes
   #locking = no
   path = /var/lib/tftpboot
   guest ok = no

[ogclient]
   comment = OpenGnSys Client
   read only = yes
   locking = no
   path = OPENGNSYSDIR/client
   guest ok = no

[oglog]
   comment = OpenGnSys Log
   read only = no
   writeable = yes
   path = OPENGNSYSDIR/log/clients
   guest ok = no

[ogimages]
   comment = OpenGnSys Repository
   read only = no
   writeable = yes
   locking = no
   path = OPENGNSYSDIR/images
   guest ok = no
