[tftpboot]
   comment = OpenGnsys init files
   browseable = no
   writeable = no
   path = OPENGNSYSDIR/tftpboot
   guest ok = no

[ogclient]
   comment = OpenGnsys Client
   browseable = no
   writeable = no
   locking = no
   path = OPENGNSYSDIR/client
   guest ok = no

[oglog]
   comment = OpenGnsys Log
   browseable = no
   writeable = yes
   path = OPENGNSYSDIR/log/clients
   guest ok = no

[ogimages]
   comment = OpenGnsys Repository
   browseable = no
   writeable = yes
   locking = no
   path = OPENGNSYSDIR/images
   guest ok = no

