<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span translate="commands"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
    	<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="OGCommandsService.execute('POWER_OFF')" translate="power_off"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="OGCommandsService.execute('POWER_ON')" translate="power_on"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="OGCommandsService.execute('REBOOT')" translate="reboot"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" ui-sref="app.commands.login" translate="login_command"></a></li>
		<li role="presentation" class="divider"></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" ui-sref="app.commands.execute" translate="execute_command"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() != 1}"><a  role="menuitem" tabindex="-1" ui-sref="app.commands.create_image" translate="create_image"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ui-sref="app.commands.deploy_image" translate="deploy_image"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ui-sref="app.commands.delete_cache_image" translate="delete_cache_image"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" ui-sref="app.commands.partition_format" translate="partition_format"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() < 1}"><a role="menuitem" tabindex="-1" ui-sref="app.commands.format" translate="format"></a></li>
		<li role="presentation" class="divider"></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() != 1}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="OGCommandsService.execute('SOFTWARE_INVENTORY')" translate="software_inventary"></a></li>
		<li role="presentation" ng-class="{'disable-links': OGCommonService.getSelectionSize() != 1}"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="OGCommandsService.execute('HARDWARE_INVENTORY')" translate="hardware_inventary"></a></li>

    </ul>
</div>