<div class="btn-group">
  	<button type="button" class="visible-md visible-lg hidden-sm hidden-xs btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span translate="options"></span><span class="caret"></span>
    </button>
    <button type="button" class="hidden-md hidden-lg visible-sm visible-xs btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-gear"></i><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="add_hardware_type"></a></li>
    </ul>
</div>