<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span translate="options"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="add_group"></a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="app.client.new({ou: ou.id})" translate="add_client"></a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="app.client.dhcp({ou: ou.id})" translate="add_clients_from_dhcp"></a></li>
		<li role="presentation" class="divider"></li>
    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="netboot"></a></li>
    </ul>
</div>