<section class="content-header">
  <h1 translate="{{vm.netboot.name||'new_netboot'}}">
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a ui-sref="app.netboot" ><i class="fa fa-th"></i> {{'netboot_templates'|translate}}</a></li>
    <li class="active" translate="netboot"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
	<div>
		<div class="col-md-12">
			<div class="box-tools pull-right">
				<button class="btn btn-primary" translate="save" ng-click="vm.save()"></button>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
		          <h3 class="box-title" translate="netboot_data"></h3>
		        </div>
		        <div class="box-body">
					<form role="form" gbn-auto-form name="vm.Form" form-options="vm.formOptions" form-model="vm.netboot">
						
					</form>
				</div>
				<div class="box-footer">
				</div>
			</div>
		</div>
	</div>
</section>