<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li mk-dropdown type="list" [isWrapper]="false" class="notifications-menu">
      <mk-dropdown-toggle>
        <a [routerLink]="'/app/traces'" *ngIf="executionTasks.length == 0" #toggleElement>
          <i class="fa fa-bell-o"></i>
        </a>
        <a *ngIf="executionTasks.length > 0" #toggleElement>
          <i class="fa fa-bell-o"></i>
          <span class="label label-warning" *ngIf="executionTasks.length > 0">{{executionTasks.length}}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu *ngIf="executionTasks.length > 0">
        <li class="header">You have 10 notifications</li>
        <li class="header">
          <span translate="you_have_x_exectution_taks" translate-values="{values: executionTasks.length}"></span>
        </li>
        <li>
          <!-- inner menu: contains the actual data -->
          <ul class="menu" *ngFor="let task of executionTasks">
            <li>
              <div href="javascript:void(0)" class="pull-right btn-group-vertical">
                <a href="javascript:void(0)" (click)="deleteExecutionTace(task)" class="btn btn-sm pull-right small-box-footer">
                  <i class="fa fa-times"></i>
                </a>
                <a href="javascript:void(0)" (click)="relaunchExecutionTask(task)" class="btn btn-sm pull-right small-box-footer">
                  <i class="fa fa-refresh"></i>
                </a>
              </div>
              <a href="javascript:void(0)" (click)="ogCommandsService.execute('REALTIME_LOG', {clientIp: task.client.ip})">
                <i class="fa fa-warning text-yellow"></i> {{task.client.name}} ({{task.client.ip}})<br>{{task.commandType|translate}}
              </a>
            </li>
          </ul>
        </li>
        <li class="footer">
          <a href="javascript:void(0)" translate="view_all" [routerLink]="['/app/traces']"></a>
        </li>
      </mk-dropdown-menu>
    </li>
    <!-- Tasks: style can be found in dropdown.less -->
    <li mk-dropdown type="list" [isWrapper]="false" class="tasks-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-language"></i>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li *ngFor="let lang of constants.languages" >
            <a href="javascript:void(0)" (click)="ogCommonService.changeLanguage(lang.id)">{{lang.name}}</a>
        </li>
      </mk-dropdown-menu>
    </li>
    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <img src="assets/img/no-image.png" class="user-image" alt="User Image">
          <span class="hidden-xs">{{user.username}}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="user-header">
          <img src="assets/img/no-image.png" class="img-circle" alt="User Image">

          <p>
            {{user.username}} - Web Admin
            <small>Member since Nov. 2012</small>
          </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
          <div class="row">
            <div class="col-xs-4 text-center">
              <span></span>
            </div>
            <div class="col-xs-4 text-center">
              <span></span>
            </div>
            <div class="col-xs-4 text-center">
              <a ui-sref="app.users">Users</a>
            </div>
          </div>
          <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
          <div class="pull-left">
            <a href="javascript:void(0)" class="btn btn-default btn-flat" translate="profile" [routerLink]="'app/user/profile'"></a>
          </div>
          <div class="pull-right">
            <a href="javascript:void(0)" (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
          </div>
        </li>
      </mk-dropdown-menu>
    </li>
  </ul>
</div>
