# Cargo configuración PC
configfile=$prefix/01-$net_default_mac
source "$configfile"

# Si no existe anterior cargo configuracion por defecto
# Lo compruebo buscando variables más usuales
if [ "$timeout" == "" -a "$default" == "" ]; then
    source "$prefix/default"
fi
