Source: ogagent-oglive
Section: admin
Priority: optional
Maintainer: Ramón M. Gómez <ramongomez@us.es>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.9.2
Homepage: https://opengnsys.es

Package: ogagent-oglive
Section: admin
Priority: optional
Architecture: all
Depends: python-requests (>=0.8.2), python-six(>=1.1), python-prctl(>=1.1.1), python (>=2.7), libxss1, ${misc:Depends}
Description: OpenGnsys Agent for ogLive client
 This package provides the required components to allow this machine to work on an environment managed by OpenGnsys.
