<section class="content-header">
  <h1 *ngIf="netboot.name" translate="{{netboot.name}}">
    {{netboot.name}}
  </h1>
  <h1 *ngIf="!netboot.name" translate="new_netboot">
  </h1>

  <ol class="breadcrumb">
    <li><a [routerLink]="'/app/dashboard'"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a [routerLink]="'/app/netboots'" ><i class="fa fa-th"></i> {{'netboot_templates'|translate}}</a></li>
    <li class="active" translate="netboot"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
  <div>
    <div class="col-md-12">
      <div class="box-tools pull-right">
        <button class="btn btn-primary" translate="save" (click)="save()"></button>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title" translate="netboot_data"></h3>
        </div>
        <div class="box-body">
          <form role="form" name="Form">
            <app-form-input [formType]="form" [model]="netboot" [cols]="1"></app-form-input>

          </form>
        </div>
        <div class="box-footer">
        </div>
      </div>
    </div>
  </div>
</section>
