<section class="content-header">
  <h1 translate="hardware">
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/app/dashboard"><i class="fa fa-dashboard"></i> {{'dashboard'|translate}}</a></li>
    <li><a href="#/app/hardware"><i class="fa  fa-server"></i> {{'hardware'|translate}}</a></li>
    <li class="active" translate="hardware_profile"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
  <div>
    <div class="col-md-12">
      <div class="box-tools pull-right">
        <button class="btn btn-primary" translate="save" (click)="save(Form)"></button>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 *ngIf="!hardwareProfile.id" class="box-title" translate="new_hardware_profile"></h3>
          <h3 *ngIf="hardwareProfile.id" class="box-title" translate="hardware_profile"></h3>
        </div>
        <div class="box-body">
          <form role="form" name="Form" >
            <app-form-input [model]="hardwareProfile" [formType]="formType"></app-form-input>
          </form>
        </div>
        <div class="box-footer">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h4 translate="hardware_profile_components"></h4>
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
            <span class="input-group-btn">
                        <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                      </span>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th translate="select"></th>
              <th translate="description"></th>
              <th translate="type"></th>
            </tr>
            <tr *ngFor="let hardwareComponent of hardwareComponents; let index = index" class="(index%2 == 0)?'odd':'even'">
              <td>
                <input icheck checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" [(ngModel)]="hardwareComponent.$$selected" (change)="ogCommonService.checkUnchekComponent(hardwareProfile, hardwareComponent)" />
              </td>
              <td>
                  <span >
                    {{hardwareComponent.description}}
                  </span>
              </td>
              <td>
                <select disabled="disabled" class="form-control" [(ngModel)]="hardwareComponent.type">
                  <option [value]="hardwareType.id" *ngFor="let hardwareType of hardwareTypes">{{hardwareType.name}}</option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
