# ogAdmServer systemd service file

[Unit]
Documentation=https://opengnsys.es/trac/wiki/En%%3ADocumentacionUsuario
Description=OpenGnsys server
Requires=mysql.service
After=mysql.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/opengnsys/sbin/ogAdmServer -f /opt/opengnsys/etc/ogAdmServer.cfg
