<section class="content-header">
  <h1 translate="login_command">
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="'/app/dashboard'"><i class="fa fa-dashboard"></i>{{'dashboard'|translate}}</a></li>
    <li><a [routerLink]="'/app/ous'"><i class="fa fa-th"></i>{{'ous'|translate}}</a></li>
    <li class="active" translate="login_command"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
  <div>
    <div class="col-md-12">
      <div class="box-tools pull-right">
        <button class="btn btn-primary" translate="execute" (click)="sendCommand()"></button>
      </div>
    </div>
  </div>
</section>
<section style="padding: 0 30px;">
  <h3 translate="selected_clients"></h3>
  <app-og-selected-clients></app-og-selected-clients>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
          <form role="form" name="vm.Form">
            <div *ngFor="let client of selectedClients | keyvalue">
              <table class="table" *ngIf="client.value && client.value.id" >
                <thead>
                <tr>
                  <th colspan="5">
                    {{client.value.name}}
                  </th>
                </tr>
                <tr>
                  <th translate="select">
                  </th>
                  <th translate="disk">
                  </th>
                  <th translate="partition">
                  </th>
                  <th translate="filesystem">
                  </th>
                  <th translate="osName">
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let partition of client.value.partitions">
                  <tr *ngIf="canLogin(partition)">
                      <td>
                        <input icheck type="radio" name="partition" checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" class="selection-checkbox" [(ngModel)]="selectedPartition" [value]="partition" />
                      </td>
                      <td>
                        {{partition.diskNumber}}
                      </td>
                      <td>
                        {{partition.partitionNumber}}
                      </td>
                      <td>
                        {{partition.filesystem}}
                      </td>
                      <td>
                        {{partition.osName}}
                      </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
