<div class="form-row" *ngFor="let row of formType.rows;  let index = index">
  <div class="form-group {{getCol(index)}}" *ngFor="let field of row" >
    <label>
      {{field.label|translate}}
    </label>
    <div class="input-group">
      <input class="form-control" *ngIf="field.type != 'textarea' && field.type != 'checkbox' && field.type != 'select'" [type]="field.type" [name]="field.name" [(ngModel)]="model[field.field]"/>
      <textarea class="form-control" *ngIf="field.type == 'textarea'" [name]="field.name" [(ngModel)]="model[field.field]"></textarea>
      <input *ngIf="field.type == 'checkbox'" [name]="field.name" icheck checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" type="checkbox" class="selection-checkbox" [(ngModel)]="model[field.field]" />
      <select *ngIf="field.type == 'select'" [compareWith]="compareFn" [name]="field.name" [(ngModel)]="model[field.field]">
        <option *ngFor="let option of field.options.items" [ngValue]="getValue(field, option)">{{option[field.options.label]|translate}}</option>
      </select>
    </div>
  </div>
</div>
