#!/bin/bash
# createImageCustomPre.template
#	Plantilla para fichero de preconfiguración del cliente modelo antes de crear una imagen.
# Recibe los mismos parámetros que el script "createImage".
# Nota: para usar este fichero, renombrar como "createImageCustomPre".


# Control de parámetros.
[ $# -le 4 ] || exit


