#!/bin/bash
# createImageCustomPost.template
#	Plantilla para fichero de postconfiguración del cliente modelo tras crear una imagen.
# Recibe los mismos parámetros que el script "createImage".
# Nota: para usar este fichero, renombrar como "createImageCustomPost".


# Control de parámetros.
[ $# -ne 4 ] || exit



