<section class="content-header">
  <h1 translate="create_image">
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="'/app/dashboard'"><i class="fa fa-dashboard"></i>{{'dashboard'|translate}}</a></li>
    <li><a [routerLink]="'/app/ous'"><i class="fa fa-th"></i>{{'ous'|translate}}</a></li>
    <li class="active" translate="create_image"></li>
  </ol>
</section>
<section fixed-toolboxbar class="toolboxbar">
  <div>
    <div class="col-md-12">
      <div class="box-tools pull-right">
        <button class="btn btn-primary" translate="execute" (click)="sendCommand()"></button>
      </div>
    </div>
  </div>
</section>
<section style="padding: 0 30px;">
  <h3 translate="selected_clients"></h3>
  <app-og-selected-clients></app-og-selected-clients>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
          <form role="form" name="Form">
            <div class="form-group">
              <label>
                <span translate="client"></span>
                {{client.name}}
              </label>
            </div>
            <div class="form-group" ng-class="{'has-error':Form.images.$dirty && Form.images.$invalid, 'has-success':Form.images.$valid}">
              <label for="images">
                <span translate="images"></span>
              </label>
              <select (change)="setCanonicalName()"  class="form-control" type="text" [(ngModel)]="command.image" name="images">
                <option [ngValue]="null" translate="----"></option>
                <option *ngFor="let image of images" [ngValue]="image">{{image.canonicalName}}</option>
              </select>
            </div>
            <div class="form-group" ng-class="{'has-error':Form.canonicalName.$dirty && Form.canonicalName.$invalid, 'has-success':Form.canonicalName.$valid}">
              <label for="canonicalName">
                <span translate="canonicalName"></span>
                <span  class="symbol required"></span>
              </label>
              <input type="text" class="form-control" type="text" required="true" [(ngModel)]="command.canonicalName" name="canonicalName">
            </div>
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th translate="select">
                  </th>
                  <th translate="disk">
                  </th>
                  <th translate="partition">
                  </th>
                  <th translate="filesystem">
                  </th>
                  <th translate="osName">
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let partition of client.partitions; let index = index;">
                  <tr *ngIf="isClonable(partition)">
                    <td>
                      <input icheck type="radio" [name]="'partition_'+partition.partitionNumber" checkbox-class="icheckbox_square-blue" radio-class="iradio_square-blue" class="selection-checkbox" [(ngModel)]="selectedPartition" [value]="index" />
                    </td>
                    <td>
                      {{partition.diskNumber}}
                    </td>
                    <td>
                      {{partition.partitionNumber}}
                    </td>
                    <td>
                      {{partition.filesystem}}
                    </td>
                    <td>
                      {{partition.osName}}
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
